* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #101011, #838283);
}

.calculator {
    width: 340px;
    background: #222;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.display-label{
    display: none;
}
#display {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
    background: #111;
    color: white;
    text-align: right;
    padding: 15px;
    font-size: 32px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 65px;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    cursor: pointer;
    background: #333;
    color: white;
    transition: 0.2s;
}

button:hover {
    background: #555;
    transform: scale(1.05);
}

.operator {
    background: #ff9500;
}

.operator:hover {
    background: #ffa733;
}

.equal {
    background: #28a745;
}

.equal:hover {
    background: #34c759;
}

.zero {
    grid-column: span 2;
}